@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');




body{
  margin:0px;
}

p{
  margin:0px;
}

.nav{
  float:left;
}

.wrapper_login{
  background-color: rgb(11, 12, 16);
  height: 100%;
  width:100%;
  display: flex;
}

.login_box{
  border: 5px solid rgb(69, 162, 158);
  border-radius: 10px;
  width:30%;
  height:30%;
  top:50%;
  left:50%;
  margin: 17.5% 0 0 35%;
  text-align: center;
}

.login{
  margin-top: 10%;
}

.login p{
  color: rgb(197, 198, 199);
  font-family: 'Squada One', cursive;
  font-size: 30px;
}

.login input{
  width:75%;
  height:10%;
  border-radius: 5px;
}

.login form{

}
.wrapper_forms{
  margin-top: 15px;
}
