@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');


:root{
  --clr-primary: #0B0C10;
  --clr-neutral: #C5C6C7;
  --clr-neutral-100: #45A29E;
  --clr-neutral-200: #66FCF1;
  --font-family: 'Squada One', cursive;
}


body,
h1,
h2,
p {
  margin: 0;
}

p,
input{
  font-family: var(--font-family);
  font-size: 1vw;
}



#overall{
  background-color: var(--clr-primary);
}

/*nabavcvcvavvavavavavavva*/

.nav{
  background-color: var(--clr-primary);
  width:100%;
  height:7.5%;
  text-align: center;
  font-size: 3vw;
  font-family: var(--font-family);

}

.nav a{
  color: var(--clr-neutral);
  margin-left:5%;
}

.nav a:hover{
  color: var(--clr-neutral-200);
}
/*hommememememememme*/
.wrapper_home{
  width:100%;
  height: flex;
  background-image: url("/static/image/tester2.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
}

.writing_home{
  font-family: var(--font-family);
  color: var(--clr-neutral-200);
  text-align: center;
  font-size: 2vw;
  padding: 5% 0 5% 0;
}

.writing_home p{
  font-family: var(--font-family);
  color: var(--clr-neutral);
  width: 60%;
  margin: auto;
  padding: 10% 0 0 0;
}
/*loginnnnnnnnnnn*/

.wrapper_login{
  background-color: var(--clr-primary);
  height: auto;
  width:auto;
}

.login_box{
  border: 0.5vw solid var(--clr-neutral-100);
  border-radius: 1vw;
  width:30vw;
  height:flex;
  left:50%;
  margin: 15% 0 0 35%;
  text-align: center;
}

.login{
  margin-top: 7.5%;
  height:flex;
  width:100%;
}

.login p{
  color: var(--clr-neutral);
  font-size:1.5vw;
}

#second{
  font-size: 1vw;
}

.forgot_write p{
  color: var(--clr-neutral);
  font-size: 20px;
  margin: 5% 1% 0% 1%;
}

.login input{
  width:23vw;
  height:3vh;
  border-radius: 5px;
}

.wrapper_forms{
  margin: 1.5vh 0 4vh 0;
}

.wrapper_forms input{
  transition: width 1s;
  margin-top: 4%;
}

.wrapper_forms input:focus{
  width:80%;
}

#submit:hover{
  opacity: 0.85;
}


.sign_up{
  float: left;
  margin: auto;
  width:100%;
  padding-top: 2vw;
  font-family: var(--font-family);
}

.sign_up_btn{
  margin-left: 38.5%;
  float: left;
}
.forgot_btn{
  margin-left: 10%;
  float: left;
}

.sign_up_btn a,.forgot_btn a, .back_sign a{
  color: var(--clr-neutral);
  font-size: 1vw;
}

.back_sign{
  margin-left: 48%;
}

.stat_login p{
  color:var(--clr-neutral);
  font-family: var(--font-family);
  font-size: 1vw;
}

/*mapssssssssssssssss*/


.map_container{
  width:100%;
  height:100%;
  background-image: url("/static/image/map.png");
  background-repeat: no-repeat;
  background-position:center;
  object-fit: cover;
}

#geochart-colors{
  width: 100%;
  height: 100%;
}

#map{
  /* overflow-y: hidden;
  overflow-x: hidden; */
}
/* question */



.wrapper_question{
  margin: 0% 0 0 10%;
  width:80%;
  height: flex;
}

.writing_box{
  width:100%;
  height:flex;
  border: 0.5vw solid var(--clr-neutral-100);

}

.writing_box p{
  color: var(--clr-neutral);
  line-height: 2;
  font-size: 1vw;
}

.question_title{
  font-family: var(--font-family);
  color: var(--clr-neutral-200);
  text-align: center;
  font-size: 2vw;
  padding: 5% 0 5% 0;
}

.comment{
  background-color: yellow;
}

.comments{
  color: yellow;
}

/* famous vikingdsiwdnqaidqwdjiqw */

.viking_name p, .rating p{
  font-family: var(--font-family);
  color: var(--clr-neutral-200);
  font-size: 1vw;
}


.wrapper_card_80, .wrapper_card_60, .wrapper_card_0 {
  border-radius: 0.5vw;
  width:15vw;
  height:20vw;
  left:50%;
  text-align: center;
  float: left;
  margin:2%;

}

.wrapper_card_80:hover , .wrapper_card_60:hover, .wrapper_card_0:hover{
  opacity: 0.8;
}
.wrapper_card_80 p, .wrapper_card_60 p, ..wrapper_card_0 p {
  font-size: 1vw;
}

.wrapper_card_80{
  border: 0.5vw solid rgb(255,215,0);
}

.wrapper_card_60{
  border: 0.5vw solid rgb(192,192,192);
}

.wrapper_card_0{
  border: 0.5vw solid rgb(205, 127, 50);
}

.img_famous img{
  margin:5%;
  height:80%;
  width:90%;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

/* clickkkkkkkkkkkkkkkkkkkkkkkkkkkkk */

.wrapper_click{
  width:80%;
  height:flex;
  border: 0.5vw solid var(--clr-neutral-100);
  margin: auto;
  margin-top:10%;
  margin-bottom: 10%;
  text-align: center;
}

.click_title{
  padding: 5% 0 5% 0;
}

.click_title p{
  color: var(--clr-neutral-200);
  font-size: 5vw;
}

.click_img img{
  width:80%;
  height: 50%;
  margin-bottom: 5%;
}

.writing{
  color: var(--clr-neutral);
}


/* userrrrrrrrrrrrr */

#hide{
  height:100%;
  width:100%;
}

.hidden {
  visibility: hidden;
}

.user_wrapper{
  height:auto;
  width:auto;
}

.profile_wrapper{
  background-color: blue;
  height: flex;
  width:60%;
  text-align: center;
  border: 0.5vw solid var(--clr-neutral-100);
  margin: auto;
  margin-top: 5%;
}


.img_user img{
  border-radius: 0.5vw;
  width:15vw;
  height:15vw;
  left:50%;
  text-align: center;
  margin:auto;
}


.profile_pic img{
  border-radius: 50%;
}
.profile_pic_option{

}

.profile_pic_option img{
  width:25%;
  height:100%;

}
/* 4000000000000000000000000004 */

.four_wrapper{
 height:80%;
 font-size: 3vw;
 color: var(--clr-neutral-200);
 text-align: center;
}

.four_msg{
  height: flex;
  width:60%;
  margin: auto;
  margin-top: 5%;
}

.four_msg h1, .four_msg h2{
  font-family: var(--font-family);
  padding:10% 0 5% 0;
}

footer p{
  color: white;
  width:100%;
  float: left;
  text-align: center;
  background-color: black;
  margin: 0px;
  height:3%;
  bottom: 0;
  font-size: 100%;
  padding: 0.5% 0 0 0;
}
