@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');


:root{
  --clr-primary: #0B0C10;
  --clr-neutral: #C5C6C7;
  --clr-neutral-100: #45A29E;
  --clr-neutral-200: #66FCF1;
  --font-family: 'Squada One', cursive;
}


body,
h1,
h2,
p {
  margin: 0;
}

p,
input{
  font-family: var(--font-family);
  font-size: 1vw;
}


#overall{
  background-color: var(--clr-primary);
  overflow-x: hidden;
}

/*nabavcvcvavvavavavavavva*/

.nav{
  background-color: var(--clr-primary);
  width:100%;
  height:7.5%;
  text-align: center;
  font-size: 3vw;
  font-family: var(--font-family);
}

.nav a{
  color: var(--clr-neutral);
  margin-left:5%;
}

.nav a:hover{
  color: var(--clr-neutral-200);
}

/*hommememememememme*/

.wrapper_home{
  width:100%;
  height: flex;
  background-image: url("/static/image/tester2.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
}

.writing_home{
  font-family: var(--font-family);
  color: var(--clr-neutral-200);
  text-align: center;
  font-size: 2vw;
  padding: 5% 0 5% 0;
}

.writing_home p{
  font-family: var(--font-family);
  color: var(--clr-neutral);
  width: 60%;
  margin: auto;
  padding: 10% 0 0 0;
}

/*loginnnnnnnnnnn*/

.wrapper_login{
  background-color: var(--clr-primary);
  height: auto;
  width:auto;
}

.login_box{
  border: 0.5vw solid var(--clr-neutral-100);
  border-radius: 1vw;
  width:30vw;
  height:flex;
  left:50%;
  margin: 15% 0 0 35%;
  text-align: center;
}

.login{
  margin-top: 7.5%;
  height:flex;
  width:100%;
}

.login p{
  color: var(--clr-neutral);
  font-size:1.5vw;
}

#second{
  font-size: 1vw;
}

.forgot_write p{
  color: var(--clr-neutral);
  font-size: 20px;
  margin: 5% 1% 0% 1%;
}

.login input{
  width:23vw;
  height:3vh;
  border-radius: 5px;
}

.wrapper_forms{
  margin: 1.5vh 0 4vh 0;
}

.wrapper_forms input{
  transition: width 1s;
  margin-top: 4%;
}

.wrapper_forms input:focus{
  width:80%;
}

#submit:hover{
  opacity: 0.85;
}

.sign_up{
  float: left;
  margin: auto;
  width:100%;
  padding-top: 2vw;
  font-family: var(--font-family);
}

.sign_up_btn{
  margin-left: 38.5%;
  float: left;
}
.forgot_btn{
  margin-left: 10%;
  float: left;
}

.sign_up_btn a,.forgot_btn a, .back_sign a{
  color: var(--clr-neutral);
  font-size: 1vw;
}

.back_sign{
  margin-left: 48%;
}

.stat_login p{
  color:var(--clr-neutral);
  font-family: var(--font-family);
  font-size: 1vw;
}

/*mapssssssssssssssss*/



#geochart-colors{
  width: 100%;
  height: 90%;
  margin:auto;
  margin-top: 4%;
}


.map_wrapper{
  width:90%;
  height:20vh;
  margin:5% 5% 5% 5%;
  border: 0.5vw solid var(--clr-neutral-100);
  border-radius: 1vw;
}

.map_wrapper p{
  color:var(--clr-neutral);
  font-family: var(--font-family);
  font-size: 1.5vw;
  text-align: center;
}

.map_text{
  background-color: var(--clr-primary);
  height:4vw;
  width:100%;
  text-align: center;
  margin-top: 1%;
}

.map_text input{
  margin: 0 0 2% 0;
  border-radius: 0.5vw;
  background: #C5C6C7;
  width:50%;
  -webkit-appearance: none;
  margin: 1% 0 0 0;
  opacity: 0.8;
  transition: opacity .2s;
}

.map_text input::-webkit-slider-thumb{
  -webkit-appearance: none;
    appearance: none;
    width: 0.91vw;
    height: 0.91vw;
    border-radius: 50%;
    background: var(--clr-neutral-100);
    cursor: pointer;
}

.map_text input:hover{
  cursor: pointer;
  opacity: 1;
}

.map_text h1{
  color: var(--clr-neutral);
  font-family: var(--font-family);
}

.key{
  width:10%;
  height:10%;
}

.clans{
  width:16.66666%;
  float: left;
  text-align: center;
  font-family: var(--font-family);
  font-size: 1vw;
}

.clan_wrapper{
  width:100%;
  background-color: var(--clr-primary);
  text-align: center;
  margin-top: 2%;
}

/* question */

.wrapper_question{
  margin: 0% 0 0 10%;
  width:80%;
  height: flex;
}

.question_options{
  width: 100%;
  text-align: center;
}

.question_options p{
  color: var(--clr-neutral);
  font-size: 2vw;
}

.question_options form{
  color: var(--clr-neutral);
  font-size: 1vw;
  font-family: var(--font-family);
  margin-top:1%;
}

.form_create{
  text-align: center;
  margin: 0 0 5% 0;
}

.form_create a{
  color: var(--clr-neutral);
  border: 0.25vw solid var(--clr-neutral-100);
  border-radius: 0.5vw;
  padding:1%;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: var(--font-family);
}

.form_create a:hover{
  opacity: 0.8;
}

.writing_box{
  width:100%;
  height:flex;
}

.writing_box p{
  color: var(--clr-neutral);
  line-height: 2;
  font-size: 1vw;
}

.question_title{
  font-family: var(--font-family);
  color: var(--clr-neutral-200);
  text-align: center;
  font-size: 2vw;
  padding: 5% 0 5% 0;
}

.comment_section{
  display: none;
  width: 10%;
}

.reply_forms{
  display: none;
  width: 10%;
}

.reply{
  width:100%;
}

.question_box{
  width:60%;
  display: flex;
  border: 0.5vw solid var(--clr-neutral-100);
  border-radius: 1vw;
  margin: 1% auto 1% auto;
  flex-direction: column;
  padding:5%;
}

.comment_section p {
  height:10%;
  float: left;
  width:47.5vw;
}

.splitter_2 button{
  padding: 0;
  border: none;
  background: none;
  color: var(--clr-neutral-200);
  font-family: var(--font-family);
  font-size: .91vw;
}

.splitter_2 button:hover{
  color: var(--clr-neutral-100);
}

#reply_btn{
  margin: 2.5% 0 5% 0;
  font-family: var(--font-family);
  font-size: 0.91vw;
}

#reply_submit{
  width: 100%;
  fill: none;
  border: none;
  border-bottom: .1vw solid grey;
  font-size: 1vw;
  margin: 0 0 1vw 0;
}

.forms_input{
  width: 600px;
  fill: none;
  background: transparent;
  border: none;
  border-bottom: .1vw solid grey;
  font-size: 18px;
  margin-bottom: 16px;
  color:white;
  outline:none
}

/* question create wddmwdimawodimawodiaod */

.create_title{
  text-align: center;
  font-size: 3vw;
  font-family: var(--font-family);
  margin-top: 5%;
  color: var(--clr-neutral-200);
}

.create_post_container{
  border: 0.5vw solid var(--clr-neutral-100);
  border-radius: 1vw;
  margin: auto;
  margin-top: 5%;
  width: 60%;
  text-align: center;
}

.post_title_create{
  color: grey;
  margin-top: 2.5%;
}

.posts_add_container h1{
  color: grey;
  margin-top: 2.5%;
}

.post_title_create input{
  width:50%;
  margin-top: 2.5%;
  background-color: var(--clr-neutral);
}

.post_title_create input:focus, .posts_add_container textarea:focus{
  border-color: #719ECE;
  margin-top: 2.5%;
  border:0.2vw solid var(--clr-neutral-100);
  outline: none;
}

.posts_add_container textarea{
  background-color: var(--clr-neutral);
  width:50%;
  margin: 2.5% 0 1.9% 0;
  font-family: var(--font-family);
  font-size: 1vw;
}

.post_title_create h1, .posts_add_container h1{
  color:var(--clr-neutral);
  font-size: 3vw;
  font-family: var(--font-family);
}

.post_submit a{
  text-decoration: none;
  color: var(--clr-neutral-200);
  margin: 0 5% 0 0 ;
  font-size: 1vw;
  font-family: var(--font-family)
}

.post_submit a:hover{
  color: var(--clr-neutral-100);
  cursor: pointer;
}

.post_submit input{
  background: transparent;
  color: var(--clr-neutral-200);
  margin-bottom: 5%;
  border: none;
}

.post_submit input:hover{
  color: var(--clr-neutral-100);
  cursor: pointer;
}

/* famous vikingdsiwdnqaidqwdjiqw */

.viking_name p, .rating p{
  font-family: var(--font-family);
  color: var(--clr-neutral-200);
  font-size: 1vw;
}

.wrapper_card_80, .wrapper_card_60, .wrapper_card_0 {
  border-radius: 0.5vw;
  width:15vw;
  height:20vw;
  left:50%;
  text-align: center;
  float: left;
  margin:1.9%;
}

.wrapper_card_80:hover , .wrapper_card_60:hover, .wrapper_card_0:hover{
  opacity: 0.8;
}
.wrapper_card_80 p, .wrapper_card_60 p, ..wrapper_card_0 p {
  font-size: 1vw;
}

.wrapper_card_80{
  border: 0.5vw solid rgb(255,215,0);
}

.wrapper_card_60{
  border: 0.5vw solid rgb(192,192,192);
}

.wrapper_card_0{
  border: 0.5vw solid rgb(205, 127, 50);
}

.img_famous img{
  margin:5%;
  height:80%;
  width:90%;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

/* clickkkkkkkkkkkkkkkkkkkkkkkkkkkkk */

.wrapper_click{
  width:80%;
  height:flex;
  border: 0.5vw solid var(--clr-neutral-100);
  margin: auto;
  margin-top:10%;
  margin-bottom: 10%;
  text-align: center;
}

.click_title{
  padding: 5% 0 5% 0;
}

.click_title p{
  color: var(--clr-neutral-200);
  font-size: 5vw;
}

.click_img img{
  max-width:80%;
  height: 50%;
  margin-bottom: 5%;
}

.writing{
  color: var(--clr-neutral);
  padding:5% 5% 5% 5%;
}

#vikings, td,th{
  background-color: var(--clr-neutral-200);
  border: 1px solid black;
  border-collapse: collapse;
}

#vikings{
  height:10%;
  width:30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* userrrrrrrrrrrrr */
.background_user{
  width:100%;
  height: 100%;
  background-image: url("/static/image/history.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  padding-top:10%;
}

.user_wrapper{
  width:30%;
  height:flex;
  border: 0.5vw solid var(--clr-neutral-100);
  margin: auto;
  margin-bottom: 10%;
  text-align: center;
  border-radius: 1vw;
  padding: 2.5%;
  background-color: rgba(11, 12, 16,.85);
}

.user_wrapper h1{
  color: var(--clr-neutral);
  font-family: var(--font-family)
}

.logout input{
  width:50%;
  height:3%;
  border-radius: 0.2vw;
  font-size: 100%;
  margin: 5% 0 0 0;
  background-color: var(--clr-neutral);
}

.logout input:hover{
  opacity: 0.6;
}
.pass_change input{
  border-radius: 0.2vw;
  margin:  5% 0 0 0;
  background-color: var(--clr-neutral);
  width: 50%;
  height:3.5%;
}

.pass_change input:hover{
  border-radius: 0.2vw;
  margin:  5% 0 0 0;
}

.pass_change h1{
  font-size: 2vw;
}

#password:focus{
  border:0.2vw solid var(--clr-neutral-100);
  outline: none;
}

#logout_submit {
  margin: 2.55% 0 0 0;
  background-color: var(--clr-neutral);
  font-size: 100%;
  width:50%;
}

#logout_submit:hover{
  opacity: 0.7;
}

.logout p {
  color:var(--clr-neutral-200);
}
/* 4000000000000000000000000004 */

.four_wrapper{
 height:80%;
 font-size: 3vw;
 color: var(--clr-neutral-200);
 text-align: center;
}

.four_msg{
  height: flex;
  width:60%;
  margin: auto;
  margin-top: 5%;
}

.four_msg h1, .four_msg h2{
  font-family: var(--font-family);
  padding:10% 0 5% 0;
}
