{% extends 'layout.html' %}

{% block content %}
<div class ="create_title">
  <h1> CREATE A POST </h1>
</div>

<form method="POST">

<div class = "create_post_container">

  <div class = "post_title_create">
     <h1>Title</h1>
    <input name = "title" required = "required">
  </div>

  <div class = "posts_add_container">
    <h1>Content</h1>
    <textarea name = "content" rows="4" cols="50" required = "required" ></textarea>

  </div>

  <div class = "post_submit">

    <a href="/question"> Return</a>
    <input type="submit" formmethod = post>

  </div>



</form>

{% endblock %}
