{% extends 'layout.html' %}

{% block content %}

{% for viking in vikings %}

  {% if viking.rating > 80 %}
    <a href="/famous_click?viking_id={{viking.id}}">
      <div class = "wrapper_card_80">
        <div class = "img_famous">
        </div>
        <div class = "rating">
          <p>{{ viking.rating }}</p>
        </div>
        <div class = "viking_name">
          <p>{{ viking.name }}</p>
        </div>

      </div>
    </a>
  {% elif viking.rating <= 80 %}

    <a href="/famous_click?viking_id={{viking.id}}">
      <div class = "wrapper_card_60">
        <div class = "img_famous">
        </div>
        <div class = "rating">
          <p>{{ viking.rating }}</p>
        </div>
        <div class = "viking_name">
          <p>{{ viking.name }}</p>
        </div>
      </div>
    </a>
  {% endif %}
{%endfor%}
{% endblock %}
