{% extends 'layout.html' %}

{% block content %}

<div class = "question_options">
  <p> sort by:</p>
  <form method="POST">
    <input type="checkbox" name = "rating_low">
    <label for="rating_low">rating low</label>
    <input type="checkbox" name = "rating_high">
    <label for="rating_high">rating high</label>


    <input type="submit">
  </form>
</div>

{% for viking in vikings %}

  {% if viking.rating > 80 %} <!-- changing the color depending on the rating -->
    <a href="/famous_click?viking_id={{viking.id}}">
      <div class = "wrapper_card_80">
        <div class = "img_famous">
          <img src="/static/image/{{viking.img}}">
        </div>
        <div class = "rating">
          <p>{{ viking.rating }}</p>
        </div>
        <div class = "viking_name">
          <p>{{ viking.name }}</p>
        </div>

      </div>
    </a>
  {% elif 80 > viking.rating > 60 %}

    <a href="/famous_click?viking_id={{viking.id}}">
      <div class = "wrapper_card_60">
        <div class = "img_famous">
          <img src="/static/image/{{viking.img}}">
        </div>
        <div class = "rating">
          <p>{{ viking.rating }}</p>
        </div>
        <div class = "viking_name">
          <p>{{ viking.name }}</p>
        </div>
      </div>
    </a>

  {% elif viking.rating <= 60 %}

  <a href="/famous_click?viking_id={{viking.id}}">
    <div class = "wrapper_card_0">
      <div class = "img_famous">
        <img src="/static/image/{{viking.img}}">
      </div>
      <div class = "rating">
        <p>{{ viking.rating }}</p>
      </div>
      <div class = "viking_name">
        <p>{{ viking.name }}</p>
      </div>
    </div>
  </a>

  {% endif %}
{%endfor%}
{% endblock %}
