<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body id = "sign">

    <div class = "wrapper_login">

      <div class = "login_box">
        <div class = "login">
          <p> Forgot password?</p>
          <div class = "forgot_write">
            <p>Enter the email you use to login to vikings and we'll send you a link to get you back into your account.</p>
          </div>
          <div class = "wrapper_forms">
            <form method="POST">
              <input name="pass" required = "required">
            </form>
            <form method="POST">
              <input type="submit" formmethod = post value="Send link" id = "submit">
            </form>
          </div>
        </div>
      </div>

      <div class = "sign_up">

        <div class = "back_sign">
          <a href="/login">Back to login</a>
        </div>

      </div>

    </div>


</body>
</html>
