
{% extends 'layout.html' %}

{% block content %}

  <div name = "wrapper_login">

    <div class = "login_box">
      <div class = "login">
        <p>Login.</p>
        <div class = "wrapper_forms"><!-- login forms -->
          <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <p> {{ form.name(placeholder="username") }}</p>
            <p> {{ form.password(placeholder="password") }} </p>
            <input type="submit" value="Login">
          </form>
        </div>
        <div class = "stat_login">
          <p>{{status}}</p>
        </div>
      </div>
    </div>

    <div class = "sign_up">

      <div class = "sign_up_btn">
        <a href="/sign_up">Create an account?</a>
      </div>

      <div class = "forgot_btn">
        <a href="/forgot">Forgot password?</a>
      </div>

    </div>

{% endblock %}
