<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">

     google.charts.load('current', {
       'packages':['geochart'], // google plug ins
       'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
     });
     google.charts.setOnLoadCallback(drawRegionsMap);

     function drawRegionsMap() {
       var data = google.visualization.arrayToDataTable([
         ['Country',   'Faction',],

          {% for i in range(location|length) %} // this is getting all coutnris and the numebr beside it
            ['{{ location[i] }}', {{ faction[i] }}], // google chart of the lists i sent through

          {% endfor %}

         ]);

       var options = {
         region: '150', // euro
         colorAxis: {colors: ['white', 'blue', 'black', '66FCF1', '45A29E', '#C5C6C7']}, // chart colors
         backgroundColor: '#0B0C10',
         datalessRegionColor: 'aqua',
         defaultColor: 'aqua',
         legend:'none',
       };

       var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));

       google.visualization.events.addListener(chart, 'select', function () {
         var selection = chart.getSelection();
         if (selection.length > 0) {
           window.location.replace("http://127.0.0.1:5000/");
         }
       });


       chart.draw(data, options);
     };
   </script>



  <body id ="overall">

    {% include 'nav.html' %}
    <div class = "map_wrapper">
      <div class = "map_text">
        <form method="POST">
          <input type="range" min="1" max="5" value="3" id="period">
           <button>view comments</button>
         </form>

       <div class="clan_wrapper">
        {% for clans in clan %}

          <div class = "clans">
            <h1 style="color:{{ clans.color }};">{{clans.name}}</h1>

          </div>

        {% endfor %}
        </div>
      </div>
    </div>
    <div id="geochart-colors"></div>

    </body>

  </html>
  <script>

  document.querySelectorAll(".temp button")
    .forEach(element => element.addEventListener("click", change));

  function change() {
    var x = document.getElementById("period").value;
      console.log("yo");

      fetch('/maps', {
                   method: 'POST',
                   headers: {
                       'Content-Type': 'application/json',
                   },
                   body: JSON.stringify({
                       degree: x,
                   })
               })

    }



  </script>

</html>
