<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">

     google.charts.load('current', {
       'packages':['geochart'], // google plug ins
       'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
     });
     google.charts.setOnLoadCallback(drawRegionsMap);

     function drawRegionsMap() {
       var data = google.visualization.arrayToDataTable([
         ['Country',   'Faction',],

          {% for i in range(location|length) %} // this is getting all coutnris and the numebr beside it
            ['{{ location[i] }}', {{ faction[i] }}],

          {% endfor %}

         ]);

       var options = {
         region: '150', // euro
         colorAxis: {colors: ['purple', 'blue', 'black', 'green', 'yellow', 'orange', 'red', '#C5C6C7']},
         backgroundColor: '#0B0C10',
         datalessRegionColor: 'aqua',
         defaultColor: 'aqua',
         legend:'none',
       };

       var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));

       google.visualization.events.addListener(chart, 'select', function () {
         var selection = chart.getSelection();
         if (selection.length > 0) {
           window.location.replace("http://127.0.0.1:5000/");
         }
       });


       chart.draw(data, options);
     };
   </script>



  <body id ="map">

    {% include 'nav.html' %}

    <div id="geochart-colors"></div>

    <div class = "temp">
    <form method="POST">
       <select name="period" id="period">
         <option value="1">1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
         <option value="5">5</option>

       </select>
       <input type="submit" id="submit"></input>
     </form>

   </head>
   <div class="clans">
    {% for clans in clan %}

      <div class = "clans">
        <h1>{{clans.name}} {{clans.id}}</h1>
      </div>

    {% endfor %}
  </div>
</div> <!-- Closing Temp -->
  </body>

</html>


<div class = "map_wrapper">



</div>
