<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">




  <body id ="overall">

    {% include 'nav.html' %}

    <div class = "map_wrapper">
      <div class = "map_text">
        <h1> slecet a period </h1>
        <form method="POST">
        <input type="range" min="1" max="10" value="1" id="period">
        </form>
      </div>

      <div class="clan_wrapper">
      {% for clans in clan %}

        <div class = "clans">
        <h1 style="color:{{ clans.color }};">{{clans.name}}</h1> <!-- custom colors -->

        </div>

      {% endfor %}
      </div>
    </div>
    <div id="geochart-colors"></div>

    </body>

  </html>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    google.charts.load('current', {
      'packages':['geochart'], // google plug ins
      'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
    });
    google.charts.setOnLoadCallback(change);

    function drawRegionsMap(data) {


      var options = {
        region: '150', // euro
        colorAxis: {colors: ['white', 'blue', '3009A0', '66FCF1', '45A29E', 'C5C6C7']}, // chart colors
        backgroundColor: '#0B0C10',
        datalessRegionColor: 'aqua',
        defaultColor: 'aqua',
        legend:'none',
      };

      var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));

      // this is when a user clicks on a map item it will send to a new page

      google.visualization.events.addListener(chart, 'select', function () {
        var selection = chart.getSelection();
       item = selection[0]
       a = item.row

       window.location.replace(a);
      });


      chart.draw(data, options);
    };

    // NOT GOOGLE
    // getting the slider value
    document.querySelector("#period").addEventListener("change", change)

    function change() {
      var x = document.getElementById("period").value;
      // sending it through to the route page to get information
      fetch('/maps', {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json',
           },
           body: JSON.stringify({
               period: x, // what variable sending
           })
       }).then(response => response.json()) // after route done with it
          .then(data => {
              const mapData = data["faction"].map((faction, i) => [data["location"][i], faction]) // creating a constant that zip togther the location and faction
              var map = google.visualization.arrayToDataTable([
                ['Country',   'Faction'],
                ...mapData // making the inner arrays merge into the outer array
              ]);

              drawRegionsMap(map) // using the google functione

          });


      }
  </script>

</html>
