{% extends 'layout.html' %}

{% block content %}

<div class = "question_title">
  <h1> Ask a Question </h1>
</div>

<div class = "form_create">
  <a href="/question/create"> create a question </a>
</div>

<div class = "wrapper_question">
  <div class = "writing_box"> <!-- displays question then all comments in question -->
    {% for question in questions %}
    <div class = "question_box">
      <p>{{ question.title }}{{ question.question }} by {{question.users.name}}</p>
      <div id = "comment" class="comment"><button>reply</button>

        <form method="POST" enctype="multipart/form-data" action="/comment/{{ question.id }}">
          {{ form.csrf_token }}
          <p> {{ form.comment }}</p>
          <input type="submit" value="comment">
        </form>

      </div>
      {% for comment in question.comments %}
        <button>comments</button>

        <div id = "comments" class="comments">{{ comment.comment }}</div>
        <div id = "{{comment}}"></div>


      {% endfor %}

    </div>
    {% endfor %}
  </div>
</div>

<!-- script to show or dont show div -->

<script>
  function toggle(event) {
    var x = event.target.parentElement.querySelector('.comments');
    if (x.style.display === "block") {
      x.style.display = "none";
    }

    else {
      x.style.display = "block";
    }
  }

  document.querySelectorAll(".question_box button")
    .forEach(element => element.addEventListener("click", toggle));
</script>


{{loggedstat}}
{% endblock %}
