{% extends 'layout.html' %}

{% block content %}

<div class = "question_title">
  <h1> Ask a Question </h1>
</div>

<div class = "form_create">
  <a href="/question/create"> create a question </a>
</div>

<div class = "wrapper_question">
  <div class = "writing_box"> <!-- displays question then all comments in question -->
    {% for question in questions %}
    <div class = "question_box">
      <div class = "splitter">
        <p>{{question.users.name}}</p>
        <p>{{ question.title }}{{ question.question }} by {{question.users.name}}</p>
        <button>reply</button>
        <div id = "reply" class="reply">
          <div class = "reply_forms">
            <form method="POST" enctype="multipart/form-data" action="/comment/{{ question.id }}">
              {{ form.csrf_token }}
              <p> {{ form.comment }} </p>
              <input type="submit" value="comment">
            </form>
          </div>
        </div>
      </div>
      <div class = "splitter_2">
        <button>comments</button>

        {% for comment in question.comments %}

        <div id = "comments" class="comments">
          <div class ="comment_section"> <p>{{ comment.comment }}</p></div>
        </div>
        {% endfor %}
      </div>




    </div>
    {% endfor %}
  </div>
</div>

<!-- script to show or dont show div -->

<script>
  function toggle1(event) {
    console.log("comment")
    event.target.parentElement.querySelectorAll('.comments').forEach((element) => {
      if (element.style.display === "block") {
        element.style.display = "none";
      }

      else {
        element.style.display = "block";
      }
    });

  }

  document.querySelectorAll(".splitter_2 button")
    .forEach(element => element.addEventListener("click", toggle1));


  function toggle(event) {
    console.log("reply")
    event.target.parentElement.querySelectorAll('.reply_forms').forEach((element) => {
      console.log("test",element)
      if (element.style.display === "block") {
        element.style.display = "none";
      }

      else {
        element.style.display = "block";
      }
    });
  }

  document.querySelectorAll(".splitter button")
    .forEach(element => element.addEventListener("click", toggle));
</script>


{{loggedstat}}
{% endblock %}
