{% extends 'layout.html' %}

{% block content %}

  <div class = "wrapper_login">

    <div class = "login_box">
      <div class = "login">
        <p> Create an account.</p>
        <div class = "wrapper_forms">
          <form method="POST"> <!-- sign in forms -->
            <input name="sign_name" required = "required" placeholder="name">
            <input name="sign_pass" type="password" required = "required" placeholder="password">
            <input name="sign_email" required = "required" type="email" placeholder="email">
            <input type="submit" formmethod = post value="Sign up" id = "submit">
          </form>
        </div>
        <div class = "stat_login">
          <p>{{status}}</p>
        </div>
      </div>
    </div>

    <div class = "sign_up">
      <!-- back button -->
      <div class = "back_sign">
        <a href="/login">Back to login</a>
      </div>

    </div>

  </div>


{% endblock %}
