{% extends 'layout.html' %}

{% block content %}

<div class = "background_user">
  <div class = "user_wrapper">

    <div class = "pass_change">
      <h1>  Change Password </h1>
      <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <p> {{ form.password(autocomplete="off") }} </p>
        <input type="submit" value="Confirm" id = "logout_submit">
      </form>
    </div>
    <div class = "logout">
      <h1> logout</h1>
      <form method="POST">

        <input type="submit" formmethod = post value="logout" name = "logout" >
      </form>
      <p> {{ status }}
    </div>
  </div>
</div>





{% endblock %}
