{% extends 'layout.html' %}

{% block content %}


<div class = "user_wrapper">


  <div class = "pass_change">
    <h1>  change pass </h1>
    <form method="POST"> <!-- login forms -->
      <input name="pass_change"  type="password" required = "required" placeholder="password">
      <input type="submit" formmethod = post value="Login" id = "submit">
    </form>
  </div>
  <h1>  logout </h1>
  <form method="POST">
    <input type="submit" formmethod = post value="logout" name = "logout">
  </form>

</div>






<!-- toggle a div from viasble to block -->
<script>
  function toggle() {
    var x = document.getElementById("toggle");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>

{% endblock %}
