{% extends 'layout.html' %}

{% block content %}


<div class = "user_wrapper">

  <div class = "profile_wrapper">
    <div class = "img_user">
      <div class = "profile_pic">
        <img src="/static/image/{{images}}">
      </div>
    </div>
    <button id = "toggle"> jiewidw</button>
  </div>

</div>



  <form method="POST">
    <input type="submit" formmethod = post value="logout" name = "logout">
  </form>
</div>


<script>
  document.querySelector('#toggle').addEventListener('click', () => {
  document.querySelector('.img_user').classList.toggle('hidden');
});
</script>

{% endblock %}
